@charset "utf-8";
body {
  font-family: "Yu Mincho", YuMincho, serif;
}

header, footer{
  width: 100%;
}

.top{
  border-top: 10px solid #511717;
}

header h1{
  margin: 50px 0 30px 0;
  text-align: center;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

header nav ul{
  width: 940px;
  margin:0 auto 30px auto;
  list-style-type: none;
  padding-left: 0;
}

header nav ul li{
  width: 155px;
  margin-right: 2px;
  float: left;
  text-align: center;
}

header nav ul li:last-child{
  margin-right: 0;
}

header nav ul li a{
  background: #511717;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  display: block;
}

header nav ul li a:hover,
header nav ul li a:active,
header nav ul li .current a{
  background-color: #000;
}


footer{
  background-color: #511717;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

footer ul{
  padding: 0;
  margin-bottom: 30px;
}

footer ul li{
  display:inline;
  margin: 0 10px;
}

footer ul li a{
  color: #fff;
}

footer ul li a:link, footer ul li a:visited{
  text-decoration: none;
}

footer ul li a:hover, footer ul li a:active{
  text-decoration: underline;
}


main{
  width: 940px;
  margin: 0 auto;
}

.topic{
  padding-left: 0;
}

.topic li{
  display: inline;
  list-style-type: none;
  font-size: 80%;
}

.topic li::after{
  padding: 0 10px;
  content: "\003E";/* 大なり記号を挿入 */
}

.topic li:last-child::after{
content: none;
}

main a:link, main a:visited{
  color: #511717;
}

main h1{
  padding: 5px 10px;
  margin-bottom: 30px;
  border-left: 10px solid #511717;
  border-bottom: 1px solid #511717;
  font-size: 1.8em;
}

main h2{
  position: relative;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 50px;
}

main h2:after, main h2:before{
  position: absolute;
  border-top: 1px dotted #511717;
  content: "";
  width: 300px;
  top:50%;
}

main h2:after{
  left: 0;
}

main h2:before{
  right: 0;
}

.clearfix:after { /* clearfix */
  content:"";
  display: block;
  clear: both;
}
.page-top{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

.page-top a{
  padding-top: 4px;
  border-top: 4px solid #511717;
}

.page-top a:before{
  content: "↑";
}

.page-top a:link, .page-top a:visited{
  color: #511717;
  text-decoration: none;
}

.lead{
  line-height: 1.8em;
  font-size:110%;
  margin-bottom: 3em;
}

.visual{
  margin-bottom: 30px;
}

.main-content{
  width: 600px;
  float: left;
}

.banner{
  width: 300px;
  float: right;
}

#home h2{
  text-align: left;
  border-left: 10px solid #511717;
  border-bottom: 1px solid #511717;
  padding: 5px 10px;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 1.5em;
}

#home main h2:before, #home main h2:after{
  border-top:0;
}

/* お知らせ、店舗情報 */
.news dl, .info dl {
  margin-left: 20px;
  margin-bottom: 30px;
}
.news dt, .news dd,
.info dt, .info dd {
  line-height: 1.5; /* 行の高さを揃える */
}
.news dt, .info dt {
  width: 8em;
  float: left;
}
.news dd, .info dd {
  margin-left: 8em;
}

.banner ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.banner ul li{
  margin-bottom: 20px;
}

.box{
  width: 300px;
  margin-right: 20px;
  float: left;
}

.box:last-child{
  margin-right: 0;
}
.box img{
  width: 300px;
  height: auto;
  display: block;
  border: 5px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.22);
}

.box h3{
  text-align: center;
}

p.photo{
  margin-top: 30px;
}

#inside p{
  font-size: 0.9em;
  line-height: 1.8;
}

table{
  border-collapse: collapse;
  margin: 0 auto 30px;
  border: 1px solid #813737;
}

table th, table td{
  padding: 10px 20px;
}

table th{
  border-right: 1px solid #813737;
}

table tr:nth-child(odd){
  background-color: #e1cfba;
}

#contact form{
  width: 820px;
  margin: 0 auto;
}
#contact dl dt, #contact dl dd{
  line-height: 2em;
  margin-left: 0;
}
#contact dl dt{
  width: 380px;
  float: left;
  text-align: right;
  padding: 10px;
}
#contact dl dd{
  width: 400px;
  float: right;
  padding: 10px;
}
#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  padding: 5px;
  width: 300px;
}
#contact textarea {
  height: 5em;
}
#contact .button {
  text-align: center;
}
#contact input[type="submit"] {
  background-color: #511717;
  color: #fff;
  padding: 10px 30px;
  font-family: "Yu Gothic",YuGothic, sans-rerif;
  border: 1px solid #511717;
  cursor: pointer; /* カーソルをポインターに */
}
/* ページトップ */
.page_top {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}
.page_top a {
  padding-top: 4px;
  border-top: 4px solid #511717;
}
.page_top a:before {
  content: "↑"; /* 上向きの矢印 */
}
.page_top a:link,
.page_top a:visited {
  color: #511717;
  text-decoration: none;
}