.box1{
  border-color: #f00;
  border-width: 10px;
  border-style: solid;
  background-color: #808080;
  font-size: 2em;
  margin-bottom: 20px;
}

.box2{
  border-top-width: 10px;
  border-top-color: #0ff;
  border-top-style:solid;
  background-color: #0f0;
  font-size: 3em;
  margin-bottom: 20px;
}

.box3{
  border: 10px solid #f00;
  font-size: 4em;
  background-color: #808080;
  margin-bottom: 20px;
}